# JUCE/CLion/CMake
build/
*.user
*.DS_Store
*.idea/
*.jucer
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.vs/
*.vscode/
*.sln
*.suo
*.opensdf
*.VC.db
*.VC.opendb
*.ipch
*.obj
*.o
*.exe
*.dll
*.pdb
*.app
*.dylib
*.so
*.a
*.log
*.cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
*.swp
*.swo

